{% extends 'base.html' %}

{% block title %}
Items
{% endblock %}

{% block content %}
<div class="container">
    <section>
        <h4>Список товаров: </h4>
        {% for item in items %}
        <br>
        <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title">Название: {{ item.name }}</h5>
                <p class="card-text">Описание: {{ item.description }}</p>
                <p class="card-text">Цена: ${{ item.get_display_price }}</p>
                <a href="{% url 'item' item.pk %}" class="btn btn-primary">Перейти к товару</a>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}